
//kje: ngMaterial과 충돌나는 부분 몇가지 수정
#canvasContainer {
	// margin-left: $sidebar-width;
	position:relative;
	overflow:auto;

	&::-webkit-scrollbar {
		display: none;
	}
	
	//div 순서대로 쌓임... (div가 absolute가 아니라 height:0으로 설정되어 쌓이는 형식)
	canvas {
		position: absolute;
		//left: 0px;   //=>left:0 , container의 margin으로 변경				
		background-color: transparent;
	}
		
}


    

