<div #canvasContainer id="canvas" class="canvas-container" [dragScroll]="dragOn">
    <!-- 깜빡이는거 없앨때 사용.. -->
    <div class="tmp">
        <canvas #tmp></canvas>
    </div>

    <!-- pdf -->
    <div class="canvasBackground">
        <canvas #bg></canvas>
    </div>
    <!-- 본인or 상대방이 그린 낙서 최종적으로 그려지는 판서 -->
    <div class="canvasTeacher">
        <canvas #teacherCanvas id="teacherCanvas"></canvas>
    </div>

    <!------------------------[ 선생님 판서 Guidance. ] ------------------------- -->
    <div class="guidance" [hidden]="!oneOnOneMode">
        <canvas #studentGuideCanvas id="studentGuideCanvas"></canvas>
        <canvas #teacherGuideCanvas id="teacherGuideCanvas"></canvas>
    </div>

    <!-- 상대방 그린 낙서를 그릴 때 잠시 사용되는 판서 -->
    <div class="coverRx">
        <canvas #rxCanvasCover></canvas>
    </div>

    <!-- 본인이 그릴때 인식하는 판서 -->
    <div class="cover" [hidden] = "editDisabled">
        <canvas #canvasCover></canvas>
    </div>
</div>
