
<nav class="navbar comclass-nav animated fadeInDown">
    <div class="container-fluid">
        <!-- <div class="navbar-header">
            <a class="navbar-brand"><img src="../assets/img/comclass/navbar/logo-comclass_.png"></a>
        </div> -->

        <ul class="nav navbar-nav main-nav">
            <!----------------------------
                수업 제목 + 학생 수
            ----------------------------- -->
            <li > 
                <div class="class-info" >
                    <div class="class-name"> 과학 </div>                    
                    <div class="student-info" ng-show="!vm.offLine" ng-click="vm.clickMenu('studentList', $event)">
                        <i class="material-icons" >                               
                            face
                        </i>
                        <span >&nbsp; 4</span>
                    </div>
                    
                    <!-- <div class="student-numbers"{{vm.numStudents}}</div> -->
                </div>
            </li>

            <li class="drawing-config">                
                <div class="color-set animated">
                    <div *ngFor="let item of colorList; let i = index" (click)="changeColor(item.color)">
                        <i [ngClass]="(currentColor == item.color) ? 'fa fa-check-circle':'fa fa-circle'"
                            [style.color]="item.color"></i>
                    </div>
                </div>
                

                <div class="width-set">
                    <!----------------------------
                         Width 선택 부분 (현재 3종)
                    ----------------------------- -->
                    <div *ngFor="let item of widthSet[currentTool]; let i = index" (click)="changeWidth(item);">
                        <i class="far"
                            [ngClass]="(currentWidth[currentTool]==item)?'fa fa-check-circle':'fa fa-circle'">
                        </i>
                    </div>
                </div>    
            </li>
            

            <li class="tool-items">
                                
                <div class="tool-set" >
                    <!-- Pen -->
                    <button class="toolBtn" ng-click="vm.changeTool('pen', $event);" aria-label="change tool">
                        <i class="material-icons" 
                            ng-class="(vm.tool == 'pen')?(vm.mode == 'move')?'':'active':''">                               
                            edit
                        </i>
                            
                    </button> 
                    <!-- Eraser -->
                    <button class="toolBtn" ng-click="vm.changeTool('eraser', $event);" aria-label="change tool">
                        <!-- <ic-icon [icon]="eraserIcon" [width]="40" [height]="40" [ngClass]="(currentTool == 'eraser')"></ic-icon> -->
					</button>
					
					  <!-- Pan -->
					<button class="toolBtn" ng-click="vm.changeToMoveMode($event);" aria-label="move">
						<i class="fas fa-2x fa-arrows-alt" 
							ng-class="(vm.mode == 'move')?'active':''">							
						</i>
					</button>

					<!-- sync button -->
					<button class="toolBtn" ng-if="!vm.offLine" ng-click="vm.changeSyncState($event);" aria-label="link">
						<!-- <i class="fas fa-2x fa-link" style="color:#8bc34a" >							
						</i> -->
						<!-- 수연 -->
						<i class="fas fa-2x" ng-class="(vm.isSyncMode?'fa-link sync':'fa-unlink')">							
                        </i>
                        <!-- <i class="fas fa-2x fa-unlink" style="color:#9E9E9E" >							
						</i> -->
					</button>
                     
                   
                   <div>
                        <button mat-button [matMenuTriggerFor]="menu">                            
                            <i class="fas fa-archive" ng-class="(vm.menu == 'file')?'active':''"> </i>
                        </button>
                        
                        <mat-menu width="4" #menu="matMenu">
                            <div>
                                <button ng-click="vm.clickMenu('open',  $event)" ng-disabled="vm.isGuideMode">
                                    <mat-icon >folder_open</mat-icon>
                                    파일열기
                                </button>
                            </div>
                            <div>
                                <button ng-click="vm.clickMenu('save', $event)" 
                                    ng-disabled='!vm.isDocLoaded || vm.isGuideMode'>
                                    <mat-icon >save</mat-icon>
                                    저장
                                </button>
                            </div>      
                            <div>
                                <button ng-click="vm.clickMenu('init',  $event)" ng-disabled="!vm.isDocLoaded || vm.isGuideMode">
                                    <mat-icon >refresh</mat-icon>
                                    초기화
                                </button>
                            </div>
                    
                            <div>
                                <button ng-click="vm.clickMenu('exam', $event)" ng-disabled='vm.offLine'>
                                    <mat-icon >view_list</mat-icon>
                                    시험출제
                                </button>
                            </div>                            
                        </mat-menu>
                   </div>
                   
                   

                   
                    <!-- More Menu -->
                   
                   
                </div>                                            
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="exit-item">
                <!-- <div class="nav_menu comclass-exit" ng-click="vm.select.Menu == 'exit'? vm.select.Menu = null : vm.select.Menu = 'exit'">                     -->
                <div class="nav_menu comclass-exit" ng-click="vm.clickMenu('exit', $event)">                    
                        
                    <i class="material-icons" ng-class="(vm.select.Menu == 'exit')?'active':''">
                        exit_to_app
                    </i>
                </div>
            </li>
        </ul>
    </div>
</nav>
