<div class="comclass-container">

  <!----------------------------------------------------------------
		comclass-nav
	--------------------------------------------------------------- -->
  <div class="navbar_container" *ngIf="mode != 'studentListMode'">
    <app-comclass-nav></app-comclass-nav>
  </div>

  <!----------------------------------------------------------------
		comclass-slide-view
	--------------------------------------------------------------- -->
  <div class="sidebar_container" *ngIf="mode != 'studentListMode'">
    <app-comclass-file-view [hidden]="leftSideView != 'fileList'" (newLocalDocumentFile)="onDocumentOpened($event)">
    </app-comclass-file-view>

    <app-comclass-slide-view [hidden]="leftSideView !='thumbnail'"></app-comclass-slide-view>

  </div>

  <!----------------------------------------------------------------
		comclass-canvas
	--------------------------------------------------------------- -->
  <div class="comclass_container" *ngIf="mode != 'studentListMode'">
    <div class="comclass-main">
      <app-comclass-canvas class="app-comclass-canvas"></app-comclass-canvas>

      <!----------------------------------------------------------------
            comclass-fabs
        --------------------------------------------------------------- -->
      <!------------------------------------------
				Floating Fab buttons
				- zoom
				- blind
				- replay
			------------------------------------------ -->
      <div class="fabs_container">
        <app-comclass-fabs *ngIf="mode != 'studentListMode'"></app-comclass-fabs>
      </div>
    </div>
  </div>

  <!-----------------------------------------------------------------------
        Student List
    --------------------------------------------------------------------- -->
  <div>
    <app-comclass-student *ngIf="mode == 'studentListMode'"></app-comclass-student>
  </div>



</div>
