<div class="comclass-container">

	<!----------------------------------------------------------------
		comclass-nav
	--------------------------------------------------------------- -->
	<div class="navbar_container">
		<app-comclass-nav></app-comclass-nav>
	</div>

	<!----------------------------------------------------------------
		comclass-slide-view
	--------------------------------------------------------------- -->
	<div class="sidebar_container">
		<app-comclass-file-view [hidden] = "leftSideView != 'fileList'" (newLocalDocumentFile)="onDocumentOpened($event)" ></app-comclass-file-view>

        <app-comclass-slide-view [hidden] ="leftSideView !='thumbnail'" ></app-comclass-slide-view>

	</div>

	<!----------------------------------------------------------------
		comclass-canvas
	--------------------------------------------------------------- -->
	<div class="comclass_container">
		<div class="comclass-main">
			<app-comclass-canvas class="app-comclass-canvas"></app-comclass-canvas>

			<!------------------------------------------
				Floating Fab buttons
				- zoom
				- blind
				- replay
			------------------------------------------ -->
			<div class="fabs_container">
				<app-comclass-fabs></app-comclass-fabs>
			</div>
		</div>
	</div>

	<!----------------------------------------------------------------
		comclass-fabs
	--------------------------------------------------------------- -->

	<div [ngClass]="{'hiddenVideoMode': hiddenVideoMode === true}">
		<div  id="videoOverlay_container" [ngStyle]="{'visibility': hiddenVideoMode === false ? 'visible' : 'hidden'}" class="videoOverlay_container" [dragScroll]="dragOn">
		</div>
	</div>

    <!-- <div id="videoOverlay_container" class="videoOverlay_container" [dragScroll]="dragOn">
		</div> -->



    <div [ngClass]="{'hiddenVideoMode': hiddenVideoMode === true}" (click)="hiddenVideo()" >
        <mat-icon class="visibleVideo_button">arrow_forward</mat-icon>
    </div>


    <div [ngClass]="{'hiddenVideoMode': hiddenVideoMode === false}" (click)="visibleVideo()" >
        <mat-icon class="visibleVideo_button">arrow_back</mat-icon>
    </div>
    

</div>

